.navbar-nav a {
    font-weight: bold;
}

.main-logo-text {
    font-weight: bold;
}

.book-now {
    font-weight: bolder;
}

.title-text {
    font-size: 50px;
    font-weight: bold;
}

.toast {
    position: absolute;
    right: 100px;
    width: 300px;
    margin-top: 30px;
    border-left: 8px solid #1B98F5;

}

/* pricing styles */

.pricing-things {
    color: aliceblue;
}

section.pricing {}

.pricing .card {
    border: none;
    border-radius: 2rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}



.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.card-title-01 {
    background-color: rgb(255, 62, 62);
    font-size: 10px;
    border-radius: 30px;
    position: absolute;
    left: 200px;
    bottom: 520px;
    font-weight: bold;

}

.client-01 {
    border: none;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    margin-left: 30px;
    width: 30%;

}

.accord-items {
    margin-left: 150px;
}

.accordion-item {
    margin-top: 10px;

}


.my-footer {
    background-color: black;
    color: aliceblue;
}

.footer-item-two {
    margin-left: px;
    padding-left: 400px;
}




/* meadia quiries for small device to show up the title and images */
@media only screen and (max-width: 767px) {
    .image-descrip {
        flex-direction: column-reverse !important;
        align-items: center;
        width: 80%;
    }

    .description-items {
        width: 90%;
        text-align: center;
    }

    .carousel-item img {
        height: 250px;
    }

    .carousel-caption {
        top: 40px;


    }

    .title-text {
        font-size: 15px;
        font-weight: bold;
    }

    .secondary-text {
        font-size: 10px;
    }

    .book-now {
        font-size: 10px;
        padding: 5px !important;
        margin-bottom: 5rem !important;
    }

    .toast {
        bottom: 400px;
        left: 40px;
    }

    .card-title-01 {

        left: 260px;
        bottom: 520px;


    }

    .client-01 {
        flex-direction: column !important;
        align-items: center;
        width: 80%;

    }

    .last-card {
        margin-top: 50px;
    }

    .accord-items {
        margin-left: 0px;
        flex-direction: column !important;
        align-items: center;


    }

    .footer-item-two {


        padding-left: 0px;
    }

    .footer-things {
        margin-right: 45px;
    }

    .my-footer {
        text-align: center;

    }







}

@media only screen and (min-width: 760px) and (max-width: 992px) {
    .card-title-01 {

        left: 500px;
        bottom: 520px;



    }

    .client-01 {
        width: 90%;


    }

    .last-card {
        margin-top: 50px;
    }

    .accord-items {
        margin-left: 20px;
        flex-direction: column !important;
        align-items: center;


    }

    .footer-item-two {


        padding-left: 0px;
    }



    .my-footer {
        text-align: center;


    }

}

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}